// custom bootstrap variables
$primary: #0d442b; 
$myRed: #DD2E44;
$myYellow: #FFCA39;
$myOrange: #E95B22;
$myPink: #D92081;
$myBlue: #23ABF2;
$myPurple: #7633F9;

// import bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

// my custom style
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.mainBox {
    //min-height: 100vh;
    //border: 2px solid red;

    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.centerBox {
    border-top: 1px solid lightgray;
    min-height: 85vh; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    padding-left: 0px; 
    padding-right: 0px;
    display: inline-block;
}

.custom-btn {
    display: inline-block;
    border: 1px solid #0d442b;
    border-radius: 3px;        
    cursor: pointer;           
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s; 
}
.custom-btn:hover {
    background-color: #0d442b;  
    color: white;              
}
.custom-btn input[type="file"] {
    display: none; /* Nascondi il vero input file */
}

.custom-btn-2 {
    display: inline-block;
    border: 1px solid darkred;
    border-radius: 3px;        
    cursor: pointer;           
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s; 
}
.custom-btn-2:hover {
    background-color: darkred;  
    color: white;              
}
.custom-btn-2 input[type="file"] {
    display: none; /* Nascondi il vero input file */
}

.styleLink {
    text-decoration: none;
}
.alertError1 {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: darkRed;
}
.alertError2 {
    padding: 5px;
    padding-left: 7px;
    display: flex;
    font-size: 12px;
    text-align: left;
    color: darkRed;
}
.satisfied {
    color: $primary;
}
.notSatisfied {
    color: #B6B6B6;
}
ul {
    list-style-type: none;
}
li {
    font-size: 12px;
}

.title {
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    min-width: 370px;
    max-width: 800px;
}

.iconClose {
    width: 20px;
    height: 20px;
}
.iconClose:hover {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 5px #2C3E50); 
    cursor: pointer;
}

.popUpIconBox {
    text-align: right;
}
.popUpTextBox {
    padding: 40px;
}

.btnLabel {
    font-weight: bold;
    color: $primary;
    font-size: 15px;
    max-width: fit-content;
}
.btnLabel:hover {
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17px; /* Rounded corners for the switch background */
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; /* Rounded corners for the switch circle */
}
  
input:checked + .slider {
    background-color: #0d442b;
}
  
input:checked + .slider:before {
    transform: translateX(12px);
}
  
.slider.round {
    border-radius: 17px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.submitBtn {
    background-color: white;
    color: darkred;
    border: 1px solid darkred;
}
.submitBtn:hover {
    color: darkred;
    border: 1px solid darkred;
    background-color: rgb(245, 194, 194);
}
.editBtn {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}
.editBtn:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    background-color: rgb(241, 237, 237);
}
.btnGrey {
    background-color: white;
    border: 1px solid lightgray;
}
.btnGrey:hover {
    background-color: rgb(241, 237, 237);
    border: 1px solid lightgray;
}